$credit-light: $green-2;
$credit-medium: $green-5;
$credit-dark: $green-10;
$credit-light-bg: $green-2;
$credit-dark-bg: #5fa959;

$debit-light: $red-2;
$debit-medium: $red-5;
$debit-dark: $red-10;
$debit-dark: $red-10;
$debit-light-bg: $red-2;
$debit-dark-bg: #c14848;


body {
  --q-credit: #66bb6a;
  --q-debit: #ef5350;
}

.bg-credit {
  background: $credit-medium;
}

.bg-debit {
  background: $debit-medium;
}

.text-credit {
  color: $credit-medium;
}

.text-debit {
  color: $debit-medium;
}

.border-debit {
  border-color: $debit-medium;
}

.border-credit {
  border-color: $credit-medium;
}

.body--light {
  .bg-credit-bg {
    background: $credit-light-bg;
  }

  .bg-debit-bg {
    background: $debit-light-bg;
  }

  .hoverable.bg-credit-bg:hover,
  .hoverable.active.bg-credit-bg {
    background: color-mix(in srgb, $credit-light-bg, $credit-medium 25%);
  }

  .hoverable.bg-debit-bg:hover,
  .hoverable.active.bg-debit-bg {
    background: color-mix(in srgb, $debit-light-bg, $debit-medium 25%);
  }

  .text-on-credit {
    color: $credit-dark;
  }

  .text-on-debit {
    color: $debit-dark;
  }
}

.body--dark {
  .bg-credit-bg {
    background: $credit-dark-bg;
  }

  .bg-debit-bg {
    background: $debit-dark-bg;
  }

  .hoverable.bg-credit-bg:hover,
  .hoverable.active.bg-credit-bg {
    background: color-mix(in srgb, $credit-dark-bg, #fff 10%);
  }

  .hoverable.bg-debit-bg:hover,
  .hoverable.active.bg-debit-bg {
    background: color-mix(in srgb, $debit-dark-bg, #fff 10%);
  }

  .text-on-credit {
    color: $credit-light;
  }

  .text-on-debit {
    color: $debit-light;
  }
}
