// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.
@import url('https://fonts.googleapis.com/css2?family=Roboto Slab:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto Sans:wght@300;400;500;600;700&display=swap');

$typography-font-family: 'Noto Sans', sans-serif !default;

$shadow-2  : none !default;
$dark-shadow-2  : none !default;

$primary   : #143f68;
$secondary : #363f48;
$accent    : #1770c3;

$dark      : #2c2c2c;
$dark-page : #121212;

$positive  : #66bb6a;
$negative  : #ef5350;
$info      : #3188ec;
$warning   : #F2C037;

.body--dark {
  --q-primary: #4b5d6e;
}



