@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@config '../../tailwind.config.js';

:root {
  --background: hsl(0 0 94);
  --foreground: hsl(20 14.3 4.1);

  --card: hsl(0 0 100);
  --card-foreground: hsl(20 14.3 4.1);
  --card-focus: hsl(0 0 97);

  --popover: hsl(0 0 97);
  --popover-foreground: hsl(20 14.3 4.1);

  --primary: hsl(24 9.8 10);
  --primary-foreground: hsl(60 9.1 97.8);

  --secondary: hsl(0 0 80);
  --secondary-foreground: hsl(20 14.3 4.1);
  --secondary-typography: hsl(0 0 50);
  --secondary-focus: hsl(0 0 85);

  --muted: hsl(0 0 95);
  --muted-foreground: hsl(240 7 58);

  --accent: hsl(199 100 88);
  --accent-foreground: hsl(199 30 33);
  --accent-focus: hsl(199 100 92);
  --accent-typography: hsl(199 45 53);

  --destructive: hsl(0 84.2 60.2);
  --destructive-foreground: hsl(0 0 100);
  --destructive-focus: hsl(0 90 65);
  --destructive-typography: hsl(0 84.2 60.2);

  --positive: hsl(120 100 80);
  --positive-foreground: hsl(120 100 15);
  --positive-focus: hsl(120 100 90);
  --positive-typography: hsl(120 100 25);

  --warning: hsl(47 100 75);
  --warning-foreground: hsl(47 50 30);
  --warning-focus: hsl(47 100 80);
  --warning-typography: hsl(47 100 41);

  --negative: hsl(0 100 80);
  --negative-foreground: hsl(0 65 30);
  --negative-focus: hsl(0 100 90);
  --negative-typography: hsl(0 65 40);

  --border: hsl(20 5.9 90);
  --input: hsl(0 0 94);
  --ring: hsl(199 100 88);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);
}

.dark {
  --background: hsl(228 8 12);
  --foreground: hsl(60 9 98);

  --card: hsl(228 10 20);
  --card-foreground: hsl(60 9 98);
  --card-focus: hsl(230 10 25);

  --popover: hsl(232 10 30);
  --popover-foreground: hsl(60 9 98);

  --primary: hsl(60 9 98);
  --primary-foreground: hsl(24 9.8 10);

  --secondary: hsl(231 8 35);
  --secondary-typography: hsl(231 6 60);
  --secondary-foreground: hsl(60 9 98);
  --secondary-focus: hsl(230 8 40);

  --muted: hsl(228 10 16);
  --muted-foreground: hsl(232 8 64);

  --accent: hsl(199 32 38);
  --accent-foreground: hsl(60 9 98);
  --accent-focus: hsl(199 32 42);
  --accent-typography: hsl(199 100 73);

  --destructive: hsl(0, 71%, 37%);
  --destructive-foreground: hsl(60 9 98);
  --destructive-focus: hsl(0 72 42);
  --destructive-typography: hsl(0 90 60);

  --positive: hsl(120 100 15);
  --positive-foreground: hsl(120 100 85);
  --positive-focus: hsl(120 100 18);
  --positive-typography: hsl(120 100 80);

  --warning: hsl(38 66 29);
  --warning-foreground: hsl(47 100 80);
  --warning-focus: hsl(38 66 34);
  --warning-typography: hsl(47 100 45);

  --negative: hsl(0 50 30);
  --negative-foreground: hsl(0 100 90);
  --negative-focus: hsl(0 50 35);
  --negative-typography: hsl(0 100 75);

  --border: hsl(232 10 25);
  --input: hsl(228 8 12);
  --ring: hsl(199 32 38);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.216 0.006 56.043);
  --sidebar-foreground: oklch(0.985 0.001 106.423);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.268 0.007 34.298);
  --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
  --sidebar-border: oklch(0.268 0.007 34.298);
  --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-focus: var(--card-focus);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-typography: var(--secondary-typography);
  --color-secondary-focus: var(--secondary-focus);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-focus: var(--accent-focus);
  --color-accent-typography: var(--accent-typography);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-focus: var(--destructive-focus);
  --color-destructive-typography: var(--destructive-typography);

  --color-positive: var(--positive);
  --color-positive-foreground: var(--positive-foreground);
  --color-positive-focus: var(--positive-focus);
  --color-positive-typography: var(--positive-typography);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-focus: var(--warning-focus);
  --color-warning-typography: var(--warning-typography);

  --color-negative: var(--negative);
  --color-negative-foreground: var(--negative-foreground);
  --color-negative-focus: var(--negative-focus);
  --color-negative-typography: var(--negative-typography);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* @layer base {
  :root {
    --background: 0 0% 94%;
    --foreground: 20 14.3% 4.1%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 240 7% 58%;

    --popover: 0 0% 97%;
    --popover-foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-focus: 0 0% 97%;
    --card-foreground: 20 14.3% 4.1%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 0 0% 80%;
    --secondary-foreground: 24 9.8% 10%;
    --secondary-focus: 0 0% 85%;

    --accent: 199 100% 88%;
    --accent-focus: 199 100% 92%;
    --accent-foreground: 24 9.8% 10%;
    --accent-typography: 199 45% 53%;

    --destructive: 0 84.2% 60.2%;
    --destructive-focus: 0 90% 65%;
    --destructive-foreground: 0 0% 100%;
    --destructive-typography: 0 84.2% 60.2%;

    --positive: 120 100% 80%;
    --positive-focus: 120 100% 90%;
    --positive-foreground: 120 100% 15%;
    --positive-typography: 120 100% 25%;

    --warning: 47 100% 75%;
    --warning-focus: 47 100% 80%;
    --warning-foreground: 47 50% 30%;
    --warning-typography: 47 100% 41%;

    --negative: 0 100% 80%;
    --negative-focus: 0 100% 90%;
    --negative-foreground: 0 65% 30%;
    --negative-typography: 0 65% 40%;

    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 228 8% 12%;
    --foreground: 60 9% 98%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 232 8% 64%;

    --popover: 232 10% 30%;
    --popover-foreground: 60 9% 98%;

    --card: 228 10% 20%;
    --card-focus: 230 10% 25%;
    --card-foreground: 60 9% 98%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;

    --primary: 60 9% 98%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 231 8% 35%;
    --secondary-foreground: 60 9% 98%;
    --secondary-focus: 230 8% 40%;

    --accent: 199 32% 38%;
    --accent-focus: 199 32% 42%;
    --accent-foreground: 60 9% 98%;
    --accent-typography: 199 100% 73%;

    --destructive: 0 62.8% 30.6%;
    --destructive-focus: 0 72% 42%;
    --destructive-foreground: 60 9% 98%;
    --destructive-typography: 0 90% 60%;

    --positive: 120 100% 15%;
    --positive-focus: 120 100% 18%;
    --positive-foreground: 120 100% 85%;
    --positive-typography: 120 100% 80%;

    --warning: 38 66% 29%;
    --warning-focus: 38 66% 34%;
    --warning-foreground: 47 100% 80%;
    --warning-typography: 47 100% 45%;

    --negative: 0 50% 30%;
    --negative-focus: 0 50% 35%;
    --negative-foreground: 0 100% 90%;
    --negative-typography: 0 100% 75%;

    --ring: 24 5.7% 82.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
} */
